<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산광역시 도서관포털</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin/admin_common.css">
    <link rel="stylesheet" href="/static/css/admin/book_register.css">
    <link rel="stylesheet" href="/static/css/admin/left_aside.css">
</head>
<body>
    <div id="container">
        <div class="util">
            <div class="util-wrap">
                <ul class="util-ul">
                    <li>
                        <ul>
                            <li>부산도서관</li>
                            <li>전자도서관</li>
                            <li>부산학아카이브</li>
                        </ul>
                    </li>
                    <li>
                    <ul class="account-container">
                            <li><a href="/admin">이동빈</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                    </ul>
                    </li>
                </ul>
            </div> 
        </div>
        <div class="header">
            <header class="header-container">
                <h1 class="brand-logo"><a href="/index"></a></h1>
                <ul class="menu-container">
                    <li><a href="">도서관이용</a></li>
                    <li><a href="/search">자료검색</a></li>
                    <li><a href="">도서관행사</a></li>
                    <li><a href="">책읽는도시부산</a></li>
                    <li><a href="">열린공간</a></li>
                    <li><a href="">내서재</a></li>
                </ul>
            </header>
        </div>
        
        <main class="main-container">
            <aside class="left-aside">
                <div class="aside-title">
                    <h1>관리자시스템</h1>
                </div>
                <nav class="main-menu">
                    <h2 class="title-text-h2">도서정보관리</h2>
                    <ul class="sub-menu">
                        <a href="/admin"><li>도서정보 조회</li></a>
                        <a href="/admin/register"><li>도서정보 등록</li></a>
                    </ul>
                    <h2 class="title-text-h2">회원정보관리</h2>
                    <ul class="sub-menu">
                        <a href="#"><li>회원정보 조회</li></a>
                    </ul>
                </nav>
            </aside>
            <div class="content-container">
                <h1 class="content-title">도서정보 등록</h1>
                <div class="content-main">
                    <div class="content-left">
                        <div class="item-group">
                            <label class="register-label">도서코드</label>
                            <input type="text" class="register-input">
                            <div class="error-message"></div>
                        </div>
                        <div class="item-group">
                            <label class="register-label">도서명</label>
                            <input type="text" class="register-input">
                            <div class="error-message"></div>
                        </div>
                        <div class="item-group">
                            <label class="register-label">저자</label>
                            <input type="text" class="register-input">
                            <div class="error-message"></div>
                        </div>
                        <div class="item-group">
                            <label class="register-label">출판사</label>
                            <input type="text" class="register-input">
                            <div class="error-message"></div>
                        </div>
                        <div class="item-group">
                            <label class="register-label">출판일</label>
                            <input type="date" class="register-input">
                            <div class="error-message"></div>
                        </div>
                        <div class="item-group">
                            <label class="register-label">분류</label>
                            <select class="register-input category-select">
                            </select>
                            <div class="error-message"></div>
                        </div>
                        <button class="register-button">등록하기</button>
                    </div>
                    <div class="content-right">
                        <form class="img-form">
                            <input type="file" name="file" class="img-file">
                            <button type="button" class="img-add-button" disabled>+</button>
                            <div class="img-container">
                                <img src="/static/images/no_img.png" class="book-img">
                            </div>
                            <div class="button-group">
                                <button type="button" class="img-register-button" disabled>이미지 등록</button>
                                <button type="button" class="img-cancel-button" disabled>취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/book_register.js"></script>
</body>
</html>