<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시립도서관</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div id="container">
        <div class="util">
            <div class="util-wrap">
                <ul class="util-ul">
                    <li>
                        <ul>
                            <li>부산도서관</li>
                            <li>전자도서관</li>
                            <li>부산학아카이브</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <a href="#"><li>홈으로</li></a>
                            <a href="#"><li>로그인</li></a>
                            <a href="#"><li>회원가입</li></a>
                            <a href="#"><li>통합회원인증</li></a>
                            <a href="#"><li>내서재</li></a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <header class="header-container">
            
        </header>
        
        <main class="main-container">
            <div class="main-title-container">
                <span>책과 함께하는 즐거움</span>
                <h1>청주시 시립도서관</h1>
            </div>
            <div class="main-search-container">
                <div class="main-search-border">
                    <span class="search-type-text">자료검색</span>
                    <input type="text" class="search-input">
                    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/account/principal.js"></script>
    <script src="/static/js/component/header.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>